<%= link_to "Bikes", "/bikes" %>
<%= link_to "Companies", "/companies" %>
<%= link_to 'New Company', "/companies/new", method: :get %>

<h1>Companies</h1>
<ul>
  <% @companies.each do |company| %>
  <div id="company-<%= company.id %>">
  <li><%= company.name %> Created at:<%= company.created_at %></li>
  <%= link_to 'Update this Company', "/companies/#{company.id}/bikes" %>
  </div>
  <% end %>
</ul> 
