<%= link_to "Bikes", "/bikes" %>
<%= link_to "Companies", "/companies" %>
<%= link_to "Company Bikes", "/companies/#{@company.id}/bikes" %>
<%= link_to "Edit", "/companies/#{@company.id}/edit" %>

<h1><%= @company.name %></h1>
<p>Location: <%= @company.location %></p>
<p>Total Stock: <%= @company.total_stock %></p>
<p>Pro Deal Available? <%= @company.pro_deal %></p>
<p>Number of Bike Models Company offers: <%= @bikes.count %></p>
<%= button_to "Delete Company", "/companies/#{@company.id}", method: :delete %>
